@import 'fonts/HelveticaNewDisplay';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #1A1A1A;
  --text-color: #FDFCFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: .15s all ease-in-out;
  outline: none;
}

body {
  min-height: 100vh;
  font-family: "Helvetica Now Display", sans-serif;
  background-color: var(--bg);
  color: var(--text-color);
  padding: 5vh 5vw;
  font-size: 14px;
  letter-spacing: 0.14px;
}
